@charset "UTF-8";
/**
 * 航班动态查询
 * @authors yanghuanmin
 * @date    2014-03-02 16:54:50
 * @version 1.0.0
 */

body{background:#f8f8f8;}
.g-bd{padding-bottom:62px;}

/*航班状态颜色*/
.reach{color:#11d31b;}

.m-footer{background:#f1f1f1;position:fixed;width:100%;bottom:0;left:0;border-top:1px solid #dfdfe0;}
.m-footer li{padding:10px 0 5px;text-align:center;cursor:pointer;}
.m-footer li i{display:block;height:25px;background-repeat:no-repeat;background-position:center center;background-size:auto 25px;}
.m-footer li p{font-size:14px;}
.m-footer .active{color:#0479fc;}
.m-footer .dynamic{background-image:url(../images/dynamic.png);}
.m-footer .active .dynamic{background-image:url(../images/dynamic-active.png);}
.m-footer .subscribe{background-image:url(../images/subscribe.png);}
.m-footer .active .subscribe{background-image:url(../images/subscribe-active.png);}

.m-dynamic-query{background:#fff;border-top:1px solid #dfdfe0;border-bottom:1px solid #dfdfe0;}
.m-dynamic-query fieldset{position:relative;margin:0 10px;line-height:50px;border-bottom:1px solid #dfdfe0;}
.m-dynamic-query legend{text-align:right;position:absolute;width:35%;}
.m-dynamic-query legend span{padding-left:30px;background-size:auto 20px;background-repeat:no-repeat;background-position:0 center;display:inline-block;}
.m-dynamic-query input[type=text]{width:55%;margin-left:45%;border:0;height:50px;line-height:50px;vertical-align:top;cursor:pointer;background:#fff url(../images/search-choose-arr.png) no-repeat right center;background-size:20px;color:#999;}
.m-dynamic-query .dep-city{background-image:url(../images/search-depart.png);}
.m-dynamic-query .arr-city{background-image:url(../images/search-arrive.png);background-size:auto 23px;}
.m-dynamic-query .field-date{border:0;line-height:72px;text-align:center;color:#999;cursor:pointer;}
.m-dynamic-query .selected{font-size:26px;color:#000;}
.m-dynamic-query .field-numb{display:none;}
.m-dynamic-query .field-numb label{position:absolute;left:35%;top:0;margin-left:10%;}
.m-dynamic-query .field-numb input{background:none;color:#000;padding-left:22px;}
.m-dynamic-query .byno .field-numb{display:block;}
.m-dynamic-query .byno .field-city{display:none;}
.m-dynamic-query .btn-group{padding:30px 0;margin:0 10px;}


.m-dynamic-list{background:#fff;}
.m-dynamic-list ul{display:table;width:100%;}
.m-dynamic-list li{display:table-row;}
.m-dynamic-list p{display:table-cell;vertical-align:middle;padding:10px 0;border-bottom:1px solid #dfdfe0;}
.m-dynamic-list .bd{margin:0 10px;white-space:nowrap;text-align:center;}
.m-dynamic-list .no{font-size:20px;}
.m-dynamic-list .leg b{font-weight:normal;font-size:18px;vertical-align:middle;margin-left:10px;}
.m-dynamic-list .leg span{display:block;line-height:1.3;font-size:14px;}
.m-dynamic-list .status{font-size:20px;text-align:right;}
.m-dynamic-list .status a{display:inline-block;vertical-align:top;padding-right:26px;background:url(../images/booker-select.png) no-repeat right center;background-size:20px;color:#177ffc;}

.m-dynamic-detail .hd{font-size:20px;text-align:center;padding:20px 0;border-bottom:1px solid #dfdfe0;}
.m-dynamic-detail .hd h2{border-left:0;border-right:1px solid #bbb;font-weight:normal;}
.m-dynamic-detail .hd h3{border-right:0;border-left:1px solid #fff;font-weight:normal;}
.m-dynamic-detail .bd{background:#fff;}
.m-dynamic-detail .bd ul{padding:0 10px;display:table;width:100%;}
.m-dynamic-detail .bd li{background:#fff;border-bottom:1px solid #dfdfe0;display:table-row;text-align:center;}
.m-dynamic-detail .bd p{display:table-cell;vertical-align:middle;padding:10px 5px;border-bottom:1px solid #dfdfe0;font-size:14px;white-space:nowrap;}
.m-dynamic-detail .bd span{display:block;}
.m-dynamic-detail .bd b{font-size:20px;font-weight:normal;vertical-align:middle;}
.m-dynamic-detail .bd img{width:40px;vertical-align:middle;background-repeat:no-repeat}
.m-dynamic-detail .btn-group{padding:10px 10px 30px;}
.m-dynamic-detail .btn-group .label{color:#656565;line-height:1.2;padding-top:10px;}
.m-dynamic-detail .sel-cont{margin:10px 10px 0;padding:5px 0 5px 10px;background:#fff;border-radius:5px;border:1px solid #dfdfe0;overflow:hidden;}
.m-dynamic-detail select{background:none;border:0;vertical-align:middle;height:27px;line-height:27px;color:#666;width:100%;-webkit-appearance:none;background:#fff url(../images/booker-select.png) right center no-repeat;background-size:20px;}

.m-weather{padding:20px 10px;font-size:18px;border-bottom:1px solid #dfdfe0;background:#fff;}
.m-weather img{float:right;width:100px;}


.m-subscribe .list{display:table;width:100%;}
.m-subscribe .list li{background:#fff;border-bottom:1px solid #dfdfe0;display:table-row;text-align:center;white-space:nowrap;}
.m-subscribe .list p{display:table-cell;vertical-align:middle;padding:10px;border-bottom:1px solid #dfdfe0;}
.m-subscribe .list b{display:block;font-size:20px;}
.m-subscribe .list .ib{display:inline-block;margin:0 10px;vertical-align:middle;}
.m-subscribe .list .i-plane{background:url(../images/search-depart.png) center center no-repeat;width:36px;height:27px;}
.m-subscribe .btn-small{padding:0 30px;display:inline-block;height:32px;line-height:32px;font-size:18px;}
.m-subscribe .btn-group{padding:30px 10px;}