@charset "UTF-8";
/**
 * 备忘录
 * @authors yanghuanmin
 * @date    2014-03-04 17:20:23
 * @version 1.0.0
 */
body{background:#f8f8f8;}

/* 订单状态 */
.status-1{color:#11d31b!important;}
.status-2{color:#0179c5!important;}
.status-3{color:#fc3e39!important;}


/* 订单列表 */
.m-orderlist{padding:20px 0;margin:0 10px;}
.m-orderlist .item{border:1px solid #dfdfe0;box-shadow:0 2px 2px #ddd;background:#fff;padding:15px 10px;overflow:hidden;position:relative;margin-bottom:20px;}
.m-orderlist .item dl{float:left;padding:5px 0;}
.m-orderlist .item dl:first-child{width:60%;}
.m-orderlist .item dl:nth-child(2){width:40%;}
.m-orderlist .item dd{color:#929292;}
.m-orderlist .item:after{content:'';position:absolute;top:50%;right:15px;width:10px;height:10px;border-top:2px solid #0e0c1a;border-right:2px solid #0e0c1a;margin-top:-5px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}


/* 备忘录编辑 */
.m-memo{padding:10px;}
.m-memo .area{background:#fff;border:1px solid #eee;padding:10px 0;margin-bottom:10px;border-radius:5px;}
.m-memo label{vertical-align:middle;margin-right:30px;}
.m-memo .flight-area dl{padding:5px 0;line-height:24px;margin:0 10px;}
.m-memo .flight-area dt{color:#000;width:80px;}
.m-memo .flight-area dd{color:#666;}
.m-memo .flight-area .date{padding-right:50px;position:relative;}
.m-memo .flight-area .apply{background:url(../images/memo-apply.png) no-repeat center center;background-size:40px;width:40px;height:40px;position:absolute;right:0;}
.m-memo .flight-area .pric{font-size:18px;margin:0 10px;}
.m-memo .option-area ul{margin:0 10px;}
.m-memo .option-area li{position:relative;padding:5px 0;line-height:38px;border-top:1px dashed #dfdfe0;}
.m-memo .option-area li:first-child{border:0;}
.m-memo .option-area .hd{padding:0 10px;border-bottom:1px solid #dfdfe0;line-height:38px;height:38px;}
.m-memo .option-area .hd .hand{float:right;}
.m-memo .option-area .hd .save{color:#f00;display:none;}
.m-memo .option-area .hd h2{float:left;}
.m-memo .option-area .u-radio{margin-right:5px;}
.m-memo .remove{position:absolute;width:25px;height:26px;background:url(../images/booker-delete.png);top:50%;margin-top:-11px;right:0;background-size:100%;display:none;}
.m-memo .i-plane{display:inline-block;padding-left:35px;background:url(../images/memo-depart.png) no-repeat 0 center;background-size:auto 20px}
.m-memo .paging{text-align:right;padding:10px;}
.m-memo .create{margin:0 10px;padding-top:10px;border-top:1px dashed #dfdfe0;line-height:34px;display:none;}
.m-memo .create input{border:1px solid #ccc;height:32px;line-height:32px;vertical-align:middle;border-radius:5px;width:180px;padding-left:5px;}
.m-memo .create .add{height:36px;background:url(../images/memo-add.png) no-repeat center center;background-size:auto 26px;display:block;}
.memo-dialog{display:none;}
.memo-dialog dl{margin:0 10px;border-bottom:1px solid #dfdfe0;padding:5px 0;}
.memo-dialog dt{width:120px;}
.memo-dialog dd{color:#999;}
.memo-dialog .btn-group{padding:25px 0;}
.memo-dialog .u-btn-default{height:38px;line-height:38px;}



.m-memo-apply{}
.m-memo-apply .bd{background:#fff;margin:0 10px;}
.m-memo-apply .label{font-size:14px;padding:15px 10px;border-bottom:1px solid #dfdfe0;}
.m-memo-apply dl{padding:10px;border-bottom:1px solid #dfdfe0;}
.m-memo-apply dt{width:115px;font-size:18px;}
.m-memo-apply input{background:none;border:0;vertical-align:middle;height:27px;line-height:27px;color:#666;width:100%;}
.m-memo-apply .sel{-webkit-appearance:none;background:url(../images/booker-select.png) right center no-repeat;background-size:20px;}
.m-memo-apply .btn-code{padding:0 10px;height:27px;line-height:27px;color:#fff;background:#ffa200;display:inline-block;vertical-align:middle;border-radius:3px;}
.m-memo-apply .btn-group{padding:30px 0;margin:0 10px;}
