@charset "UTF-8";
/**
 * 支付相关页面
 * @authors yanghuanmin
 * @date    2014-02-26 15:59:25
 * @version 1.0.0
 */
/*
.m-pay-result{padding:30px 0;margin:0 10px;}
.m-pay-result p{padding:20px 0 60px;text-align:center;font-size:20px;}

.m-pay-select{padding-bottom:50px;}
.m-pay-select .cont{display:none;}
.m-pay-select .cont img{float:left;width:50px;height:50px;margin-top:5px;}
.m-pay-select .cont li{overflow:hidden;line-height:60px;cursor:pointer;padding-left:15px;}
.m-pay-select .cont p{margin-left:60px;border-bottom:1px solid #c9c9c9;}
.m-pay-select .cont:first-child{display:block;}
.m-pay-select .tab{height:50px;line-height:50px;position:fixed;bottom:0;left:0;width:100%;background:#f1f1f1;border-top:1px solid #dfdfe0;}
.m-pay-select .tab li{color:#9c9c9c;text-align:center;cursor:pointer;}
.m-pay-select .tab .active{color:#0479fc;}
.rule-detail{
	  position:absolute;
	   overflow:auto;
            width: 80%;
            padding: 20px;
            right:5px;
            background-color: #0A420A;
            display:none;
          
         
}
.rule-detail ul li{
			list-style-type:decimal;
            color:white;
            font-size:0.8rem;
               line-height:normal!important;
}
.rule-detail ul{
	     overflow: auto;
           text-align: left;
           padding: 5px
}
.rule-tip{
	   float:right;
	    
}
	.rule-title{
	  display: block;
	  text-decoration: underline;
	  color: rgb(37, 61, 236);
	  font-style: italic;
	  font-size: 0.8rem;
	}
.rule-pop{
	  float: right;
  width: 60px;
}
*/
#m-pay-select{background: #ebebeb}
#m-pay-select .pay-hd{font-size: 14px;padding: 10px;margin-bottom: 15px;background: #fff}
#m-pay-select header .price{margin-left: 5px;font-size: 16px}
#m-pay-select header .cd{color: #e40011}
#m-pay-select dl{font-size: 14px;background: #fff;padding: 20px 0;margin-bottom: 10px}
#m-pay-select dl dt{width: 95%;padding: 10px;margin:0 auto;border: 1px solid #00ab6f;background: #f1fbf7;border-radius: 3px;margin-bottom: 10px}
#m-pay-select dl dt span{display: inline-block;width: 32%;text-align: left;}
#m-pay-select dl dd{margin-bottom: 10px;width: 90%;margin: 0 auto;font-size: 12px}
#m-pay-select dl dd span{display: inline-block;width: 32%;text-align: left;position: relative;}
#m-pay-select dl dd span.prevShow i{width: 30px;display: inline-block;}
#m-pay-select dl dd span.prevShow i img{width: 100%}
#m-pay-select dl dd span .nn{width: 60%}
#m-pay-select dl dt .price{color: #e40011;margin-right: 3px}
#m-pay-select dl dd .p-more{display: none;}
#m-pay-select dl dd .p-more-l{float: left;width: 33%}
#m-pay-select dl dd .p-more-l2{float: left;width: 66%}
#m-pay-select dl dd .p-more-l2 ul{width: 100%}
#m-pay-select dl dd .p-more-l2 ul li{width: 50%;float: left;margin-bottom: 15px;line-height: 30px}
#m-pay-select dl dd .p-more-l2 ul li.sp{width: 100%}
#m-pay-select dl dd .p-more-l2 ul li i{width: 30px;display: inline-block;margin-right: 4px}
#m-pay-select dl dd .p-more-l2 ul li img{width: 26%}

.u-bookbtn{background: #f9a701;width: 90%;margin:0 auto 10px auto;color: #fff;text-align: center;padding: 5px;border-radius: 5px;display:block;}

.f-cb{zoom:1;}
.f-cb:after{content:'';clear:both;display:table;font-size:0;line-height:0;}
.i-wechat,.i-bank-1,.i-bank-2,.i-bank-3,.i-bank-4,.i-bank-5,.i-bank-6,.i-bank-7,.i-bank-8,.i-bank-9,.i-bank-10,.i-bank-11,.i-bank-12,.i-bank-13,.i-bank-14,.i-pay-1,.i-pay-2{background: url(../../images/payment/icons.png) no-repeat;display: inline-block;transform: scale(0.7);-webkit-transform:scale(0.7);vertical-align: middle;}
.i-wechat{;width: 30px;height: 28px;background-position: -177px -2px;}
.i-circle{background: url(../../images/payment/i-circle.png) no-repeat;display: inline-block;width: 15px;height: 15px;vertical-align: middle;background-size: 100% 100%;margin-right: 5px}
.i-circle.on{background: url(../../images/payment/i-circle-on.png) no-repeat;background-size: 100% 100%}
.i-arr-d{width:0;height:0;overflow:hidden;border-width:5px 5px 0;border-style:solid;_border-style:solid dashed;border-color:#333333 transparent;position:absolute;right:5px;top:50%;margin-top:-2px;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;transition:0.3s;}
.i-arr-d.i-arr-d-active{-webkit-transform:rotate(180deg);-moz-transform:rotate(179.99deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(179.99deg);}
.i-bank-1{width: 27px;height: 28px;background-position: -16px -67px}
.i-bank-2{width: 30px;height: 31px;background-position: -65px -67px}
.i-bank-3{width: 28px;height: 28px;background-position: -18px -149px}
.i-bank-4{width: 33px;height: 30px;background-position: -62px -151px}
.i-bank-5{width: 31px;height: 28px;background-position: -16px -228px}
.i-bank-6{width: 40px;height: 22px;background-position: -57px -235px}
.i-bank-7{width: 31px;height: 26px;background-position: -18px -307px}
.i-bank-8{width: 32px;height: 32px;background-position: -65px -308px}
.i-bank-9{width: 29px;height: 30px;background-position: -19px -387px}
.i-bank-10{width: 31px;height: 32px;background-position: -67px -387px}
.i-bank-11{width: 36px;height: 24px;background-position: -17px -467px}
.i-bank-12{width: 31px;height: 31px;background-position: -68px -467px}
.i-bank-13{width: 35px;height: 18px;background-position: -14px -550px}
.i-bank-14{width: 37px;height: 37px;background-position: -65px -544px}
.i-pay-1{width: 31px;height: 32px;background-position: -140px -2px}
.i-pay-2{width: 78px;height: 45px;background-position: -53px -6px}
