@charset "utf-8";
body,h1,h2,h3,p,ul,ol,li,dl,dt,dd{margin:0;padding:0;}
ul,ol,li{list-style:none;}
img{border:0;}
a{text-decoration:none;}
.fn-clear:after{clear:both;content:'';display:table;font-size:0;line-height:0;}
.fn-clear{zoom:1;}
.panel-choose{position:relative;zoom:1;width:444px;margin:0 auto;left:-26px;}
.map-cont{width:444px;height:2340px;background:url(/images/seat/plane.png) no-repeat;position:relative;zoom:1;z-index:5;}
.map-list{padding:232px 0 0 24px;}
.map-list li{float:left;width:50px;height:60px;background-image:url(/images/seat/seat-empty.png);background-position:center 14px;background-repeat:no-repeat;display:inline;margin-right:5px;overflow:hidden;cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.map-list li img{width:44px;height:35px;border:1px solid #a8b0ba;vertical-align:middle;position:absolute;bottom:7px;left:50%;margin-left:-23px;}
.map-list .seat-space{background-image:none;width:69px;}
.map-list .seat-through{background-image:url(/images/seat/seat-through.png);cursor:default;}
.map-list .seat-disable{background-image:url(/images/seat/seat-disable.png);background-position:center bottom;cursor:default;}
.map-list .seat-binded{background-image:url(/images/seat/seat-binded.png);position:relative;}
.map-list .seat-chosen{background-image:url(/images/seat/seat-chosen.png);background-position:center bottom;}

.map-list .seat-disable-sex1{background-image:url(/images/seat/seat-disable-sex1.png);background-position:center bottom;cursor:default;}
.map-list .seat-disable-sex2{background-image:url(/images/seat/seat-disable-sex2.png);background-position:center bottom;cursor:default;}

.row-type{color:#fff;position:absolute;right:-48px;width:50px;z-index:0;border-radius:5px;}
.row-type span{
	position:absolute;display:block;left:-6px;top:50%;margin-top:-13px;font-size:27px;line-height:1;font-family:'微软雅黑';
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}
.row-type-vip{background:#fd7900;height:74px;top:232px;}
.row-type-pop{background:#06980e;height:576px;top:310px;}
.row-type-kin{background:#018dd6;height:998px;top:1032px;}

.panel-bar{position:fixed;top:0;right:0;left:0;width:100%;height:56px;background-color:rgba(0,0,0,.85);left:0;right:0;z-index:50;border-top:1px solid #a8a8a8;color:#fff;height:42px;line-height:42px;padding:7px 0;font-size:20px;font-family:'微软雅黑','黑体';}
.panel-bar .bar-cont{display:table;width:100%;white-space:nowrap;}
.panel-bar .status,
.panel-bar .handle,
.panel-bar .person-status,
.panel-bar .chosen-status{display:table-cell;}
.panel-bar .status{border-right:1px dotted #5d6b71;padding:0 10px;}
.panel-bar .status-cont{display:table;width:100%;}
.panel-bar .handle{border-left:1px dotted #0a0a0b;width:155px;text-align:center;padding:0 10px;}
.panel-bar .handle .cancel{color:#fffc00;text-decoration:underline;}
.panel-bar .handle .submit{background:url(/images/seat/btn-checkin.png);width:91px;line-height:37px;height:37px;display:inline-block;vertical-align:middle;color:#fff;text-indent:-99999px;overflow:hidden;margin-left:10px;}
.panel-bar .person-status .pet-name{margin-left:10px;}
.panel-bar .chosen-status{text-align:right;}
.panel-bar .chosen-status .chosen-cont{position:relative;zoom:1;display:inline-block;vertical-align:top;height:42px;width:100px;}


.tips-box{position:absolute;top:40px;background:url(/images/seat/tips-box.png) no-repeat;width:292px;height:175px;left:50%;margin-left:-130px;line-height:24px;font-size:16px;text-shadow:-1px -1px 1px #000;display:none;}
.tips-box .box-content{width:232px;height:70px;overflow:hidden;margin:32px auto 10px;white-space:normal;text-align:left;}
.tips-box .box-btngroup{text-align:center;}
.tips-box .box-btn{width:108px;height:35px;line-height:35px;background:url(/images/seat/tips-box-btn.png);display:inline-block;vertical-align:middle;color:#fff;}

em,i{font-style:normal;}
@media screen and (max-width:320px){
   #m-dialog{
     width:300px;  
	 height:190px;
     margin:0 auto;
	 position:absolute;
	 top:50%;
	 left:50%;
	 margin-left:-150px;
	 margin-top:-95px;
	 background:#f7f7f7;
	 overflow:hidden;
	 border:1px solid #9eb6d1;
   }
   .list-dialog-l{
		width:106px;
		height:106px;
		float:left;
		margin-left:14px;
		margin-top:40px;
   }
    .list-dialog-r{
		width:160px;
		height:auto;
		margin-left:4px;
		float:left;
		margin-top:40px;
		overflow:hidden;
   }
    .list-dialog-r ul{margin:0px; padding:0px;list-style:none;}

	    .d-r-f{display:block;width:100%;line-height:25px;height:25px;color:#4e5660;font-family:'微软雅黑';font-size:12px;text-align:center;padding-top:5px;margin-bottom:15px;}
		.d-r-f img{width:25px;height:24px;vertical-align:bottom;padding-left:5px;}
		
		.d-r-s{display:block;width:100%;padding-left:27px;margin:0 auto;border-bottom:1px solid #e1e1e1;height:30px;line-height:28px;color:#979fa7;text-align:left;font-family:'微软雅黑';font-size:12px;margin-bottom:5px;}
		.d-r-s span{padding-left:15px;color:#424c54;}
		.d-r-s span i{padding-left:4px;}
		
		.d-r-t{display:block;width:100%;margin:0 auto;height:auto;line-height:20px;color:#979fa7;text-align:left;font-family:'微软雅黑';font-size:12px;}
		.d-r-t span{padding-left:15px;color:#424c54;font-size:12px;}
}

@media only screen and (min-width:320px) and (max-width:340px){
   #m-dialog{
     width:300px;  
	 height:200px;
     margin:0 auto;
	 position:absolute;
	 top:50%;
	 left:50%;
	 margin-left:-150px;
	 margin-top:-100px;
	 background:#f7f7f7;
	 overflow:hidden;
	  border:1px solid #9eb6d1;
   }
   .list-dialog-l{
		width:106px;
		height:106px;
		float:left;
		margin-left:4px;
		margin-top:40px;
   }
    .list-dialog-r{
		width:175px;
		height:auto;
		margin-left:5px;
		float:left;
		margin-top:40px;
		overflow:hidden;
   }
    .list-dialog-r ul{margin:0px; padding:0px;list-style:none;}

	    .d-r-f{display:block;width:100%;line-height:25px;height:25px;color:#4e5660;font-family:'微软雅黑';font-size:13px;text-align:center;padding-top:5px;margin-bottom:15px;}
		.d-r-f img{width:25px;height:24px;vertical-align:bottom;padding-left:5px;}
		
		.d-r-s{display:block;width:100%;padding-left:25px;margin:0 auto;border-bottom:1px solid #e1e1e1;height:30px;line-height:25px;color:#979fa7;text-align:left;font-family:'微软雅黑';font-size:14px;margin-bottom:5px;}
		.d-r-s span{padding-left:15px;color:#424c54;}
		.d-r-s span i{padding-left:6px;}
		
		.d-r-t{display:block;width:100%;margin:0 auto;height:auto;line-height:20px;color:#979fa7;text-align:left;font-family:'微软雅黑';font-size:13px;}
		.d-r-t span{padding-left:15px;color:#424c54;font-size:13px;}
}

@media only screen and (min-width:340px) and (max-width:540px){
   #m-dialog{
     width:340px;  
	 height:240px;
     margin:0 auto;
	 position:absolute;
	 top:50%;
	 left:50%;
	 margin-left:-170px;
	 margin-top:-120px;
	 background:#f7f7f7;
	 overflow:hidden;
	  border:1px solid #9eb6d1;
   }
   .list-dialog-l{
		width:106px;
		height:106px;
		float:left;
		margin-left:18px;
		margin-top:60px;
   }
    .list-dialog-r{
		width:190px;
		height:auto;
		margin-left:8px;
		float:left;
		margin-top:60px;
		overflow:hidden;
   }
    .list-dialog-r ul{margin:0px; padding:0px;list-style:none;}

	    .d-r-f{display:block;width:100%;line-height:25px;height:25px;color:#4e5660;font-family:'微软雅黑';font-size:14px;text-align:center;padding-top:5px;margin-bottom:15px;}
		.d-r-f img{width:25px;height:24px;vertical-align:bottom;padding-left:5px;}
		
		.d-r-s{display:block;width:100%;padding-left:25px;margin:0 auto;border-bottom:1px solid #e1e1e1;height:30px;line-height:25px;color:#979fa7;text-align:left;font-family:'微软雅黑';font-size:14px;margin-bottom:5px;}
		.d-r-s span{padding-left:15px;color:#424c54;}
		.d-r-s span i{padding-left:6px;}
		
		.d-r-t{display:block;width:100%;margin:0 auto;height:auto;line-height:20px;color:#979fa7;text-align:left;font-family:'微软雅黑';font-size:14px;}
		.d-r-t span{padding-left:15px;color:#424c54;font-size:14px;}
}

@media screen and (min-width:540px){
   #m-dialog{
     width:440px;  
	 height:300px;
     margin:0 auto;
	 position:absolute;
	 top:50%;
	 left:50%;
	 margin-left:-220px;
	 margin-top:-150px;
	 background:#f7f7f7;
	 overflow:hidden;
	  border:1px solid #9eb6d1;
   }
   .list-dialog-l{
		width:106px;
		height:106px;
		float:left;
		margin-left:48px;
		margin-top:95px;
   }
    .list-dialog-r{
		width:220px;
		height:auto;
		margin-left:20px;
		float:left;
		margin-top:95px;
		overflow:hidden;
   }
    .list-dialog-r ul{margin:0px; padding:0px;list-style:none;}

	    .d-r-f{display:block;width:100%;line-height:25px;height:25px;color:#4e5660;font-family:'微软雅黑';font-size:16px;text-align:center;padding-top:5px;margin-bottom:15px;}
		.d-r-f img{width:25px;height:24px;vertical-align:bottom;padding-left:5px;}
		
		.d-r-s{display:block;width:100%;padding-left:27px;margin:0 auto;border-bottom:1px solid #e1e1e1;height:30px;line-height:22px;color:#979fa7;text-align:left;font-family:'微软雅黑';font-size:16px;margin-bottom:7px;}
		.d-r-s span{padding-left:15px;color:#424c54;}
		.d-r-s span i{padding-left:15px;}
		
		.d-r-t{display:block;width:100%;margin:0 auto;height:auto;line-height:23px;color:#979fa7;text-align:left;font-family:'微软雅黑';font-size:16px;}
		.d-r-t span{padding-left:15px;color:#424c54;font-size:16px;}
}