@charset "UTF-8";
/**
 * 全局样式/组件/工具
 * @authors yanghuanmin
 * @date    2014-02-17 10:58:07
 * @version 1.0.0
 */

/* reset declare */ 
body,h1,h2,h3,h4,h5,h6,hr,p,ul,ol,li,dl,dt,dd,table,td,th,caption,form,button,input,select,textarea,fieldset,legend,blockquote,iframe,address,section,figure,figcaption,article,aside,section,nav,hgroup,iframe{margin:0;padding:0;outline:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
section,figure,figcaption,article,aside,section,nav,fieldset,legend{display:block;}
body,html{min-height:100%;width:100%;}
body{font:16px/1.5 Arial,'微软雅黑';color:#444;overflow-x:hidden;-webkit-user-select:none;}
img,fieldset{border:0;}
ol,ul,li{list-style:none;}
em,i,dfn,cite,address{font-style:normal;}
hr{height:0;overflow:hidden;border:0;}
q:after,q:before{content:'';}
table{border-collapse:collapse;border-spacing:0;}
input{vertical-align:middle;}
select{height:23px;line-height:23px;vertical-align:middle;}
a{color:#444;text-decoration:none;}
a:hover,
.link{color:#f60;}
.link{color:#06c;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,input,button,textarea,select{font-family:inherit;font-size:100%;}
textarea{resize:none;}

/* 头部 */
.g-hd{z-index:9999;height:32px;background:#20202F;position:relative;color:#fff;text-align:center;padding: 5px 0}
.g-hd h1{font:normal 18px/32px '微软雅黑';}
.g-hd .back,.g-hd .call{position:absolute;top:50%;background-size:22px;background-position:center center;background-repeat:no-repeat;width:40px;height:32px;top:0;}
.g-hd .back{left:0;background-image:url(../images/header-back.png);}
.g-hd .call{right:0;background-image:url(../images/header-call.png);}
.g-hd .back{position:absolute;top:50%;background-position:center center;background-repeat:no-repeat;background-size:50%;width:42px;height:30px;top:0;}

/* 主体 */
.g-bd{padding:0 0 20px;background: #f7f7f7}

/* 页签 */
.g-tabs{margin:0 10px;padding:10px 0 0 0 ;}
.g-tabs li{background:#008755;width:50%;text-align:center;cursor:pointer;line-height:40px;color: #fff}
.g-tabs li:first-child{border-radius:5px 5px 0 0;margin-right: 10px}
.g-tabs li:last-child{border-radius:5px 5px 0 0;}
.g-tabs .active{background:#fff;color:#319972;}

.container{position:absolute;width:100%;top:0;left:0;display:none;}
.container:first-child{display:block;}
.current{display:block;}
.slide-ready-left{left:100%;}
.slide-ready-right{left:-100%;}
.slide-ready-left:after,
.slide-ready-right:after{position:absolute;width:100%;height:100%;left:0;right:0;bottom:0;top:0;z-index:1000;}
.slide-in-left,
.slide-in-right{left:0;}
.slide-out-left{left:-100%;}
.slide-out-right{left:100%;}
.slide-in-left,
.slide-in-right,
.slide-out-left,
.slide-out-right
{
	-webkit-transition:left 0.3s ease;
	-moz-transition:left 0.3s ease;
	-o-transition:left 0.3s ease;
	-ms-transition:left 0.3s ease;
	transition:left 0.3s ease;
}


/* 工具类 */
.f-db{
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
	display:box;
}
.f-bf-1{display:block;width:1px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
}
.f-ts{
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
	transition:0.5s;
}
.f-tr{text-align:right;}
.f-pr{position:relative;}
.f-cb:after{content:'';display:table;clear:both;}
.f-fl{float:left;}
.f-fr{float:right;}


/* UI类 */
.u-switch{background:#fdfdfd;border:1px solid #d5d5d5;width:56px;display:inline-block;vertical-align:middle;position:relative;}
.u-switch,
.u-switch i{height:28px;border-radius:16px;}
.u-switch[data-selected="true"]{background:#4cd964;border:1px solid #4cd964;}
.u-switch[data-disabled="true"]{background:#fdfdfd;border:1px solid #d5d5d5;}
.u-switch i{content:"";position:absolute;top:-1px;left:0;margin-left:0;width:28px;border:1px solid #d5d5d5;background:#fff;box-shadow:0 1px 3px #999;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}
.u-switch[data-selected="true"] i{margin-left:-1px;left:50%;}
.u-radio{background:url(../images/radiu.png) no-repeat;background-size:100%;cursor:pointer;width:24px;height:24px;display:inline-block;vertical-align:middle;}
.u-radio[data-selected=true]{background-image:url(../images/radiu-checked.png);}
.u-btn-default,
.u-btn-default:hover,
.u-btn-orange,
.u-btn-orange:hover{height:48px;display:block;line-height:48px;text-align:center;font-size:20px;color:#fff;}
.u-btn-default{background:#11d31b;}
.u-btn-orange{background:#fc3e39;}
.u-loader
{background:url(../images/loader.gif);position:fixed;top:50%;left:50%;margin:-42px 0 0 -42px;width:85px;height:25px;z-index:15000;color:#e9e9e9;font:12px/1.5 Arial;text-align:center;padding-top:60px;display:none;}

.u-dialog{width:280px;padding:10px;position:absolute;background:#fff;border-radius:5px;}
.u-dialog .btn-group{padding-top:15px;}

/* 日期面板 */
.u-cld-panel{width:100%;font-size:16px;position:absolute;top:32px;bottom:0;left:0;right:0;}
.u-cld-prev,
.u-cld-next{position:absolute;cursor:pointer;top:0;z-index:10;height:40px;background:#fff;padding:0 10px;}
.u-cld-prev i,
.u-cld-next i{width:0;height:0px;padding:0;overflow:hidden;float:left;margin-top:10px;}
.u-cld-prev i{border-width:10px 10px 10px 0;border-style:solid;border-color:transparent #0073bc transparent transparent;}
.u-cld-next i{border-width:10px 0 10px 10px;border-style:solid;border-color:transparent transparent transparent #0073bc;}
.u-cld-prev-m{left:0;}
.u-cld-next-m{right:0;}
.u-cld-prev-y{left:30px;}
.u-cld-next-y{right:30px;}
.u-cld-prev-y i{margin-right:-3px;}
.u-cld-next-y i{margin-left:-3px;}
.u-cld-wrap{height:100%;}
.u-cld-wrap, .u-cld-body{width:100%;border:0;border-collapse:collapse;border-spacing:0;margin:0;padding:0;}
.u-cld-cont{vertical-align:text-bottom;padding-top:40px;height:100%}
.u-cld-head{height:40px;line-height:40px;text-align:center;font-size:22px;position:absolute;left:0;top:0;width:100%;background:#fff;border-bottom:1px solid #dfdfe0;}
.u-cld-body{text-align:center;height:100%;}
.u-cld-body th{}
.u-cld-body th,
.u-cld-body td{padding:5px;}
.u-cld-body td{border:2px solid #fff;background:#f4f4f4;color:#343434;height:16.666666666%;width:14.2857%;}
.u-cld-body td span{display:block;}
.u-cld-body .u-cld-day{font-weight:bold;}
.u-cld-body .u-cld-active{background:#f60;color:#fff;}
.u-cld-body .u-cld-disable{background:#fbfbfb;color:#c1c1c1;}
.u-cld-body .u-cld-seleced{background:#c3e0f8;}
.u-cld-day-info{font-size:12px;}

.m-date .u-cld-body{height:auto;border-bottom:10px solid #fff;}
.m-date .u-cld-head{line-height:36px;height:36px;font-size:18px;position:static;}
.m-date .u-cld-cont{height:auto;padding-top:0;}
.m-date .u-cld-panel{position:static;}
/* 日期面板end */

/*航班城市模块*/
.m-city .cont{display:none;}
.m-city .cont ul{display:none;}
.m-city .list{cursor:pointer;}
.m-city .list:first-child{border-top:1px solid #dfdfe0;}
.m-city .list:last-child{border-bottom:1px solid #dfdfe0;}
.m-city .list h2{border-bottom:1px solid #dfdfe0;background:#f8f8f8;padding:10px;color:#979797;font-weight:normal;}
.m-city .list ul{background:#fff;border-bottom:1px solid #dfdfe0;}
.m-city .list li{padding:10px 0;margin:0 10px;border-bottom:1px solid #dfdfe0;position:relative;;}
.m-city .list li:last-child{border:0;}
.m-city .list i{position:absolute;right:10px;top:10px;}
.m-city .list.active ul,
.m-city .active{display:block;}
