.lggch{
    background-color: #eee;
    height:100%;
}
.lggselect .up{
    height: 0.40rem;
    text-align: center;
    line-height: 0.40rem;
    background-color: #FF8102;
    color: white;
    display: block;
}
.lggselect .up .icon-time{
    height: 0.4rem;
    margin-right: 0.2rem;
    margin-bottom: 0.05rem;
}
.lggselect .up p{
    font-family: Microsoft YaHei;
    font-size: 0.16rem;
	display: inline-block;
}
.lggselect .md{
    clear: both;
    background-color:#Fff;
    overflow: hidden;
    z-index: 1;
}
.lggselect .md .boradflight{
    clear: both;
    border-bottom: 1px solid #CCCCCC;
}
.lggselect .md .boradflight .left{
    float: left;
    width: 1.28rem;
    height: 2.04rem;
    padding: 0.37rem 0 0 0.21rem;
}
.lggselect .md .boradflight .left p{
    width: 100%;

    height: 100%;
    display: block;
    font-size: 0.32rem;
    font-family: Microsoft YaHei;
    color: #333;
    font-weight: 600;
}
.lggselect .md .boradflight .right{
    float: right;
    width: 5.12rem;
}
.lggselect .md .boradflight .right label{
    float: left;
    line-height: 0.55rem;
    font-family: Microsoft YaHei;
    font-size: 0.24rem;
    color: #333333;
}
.lggselect .md .boradflight .right .line{
    clear:both;
    line-height: 0.5rem;
    height: 0.5rem;
    margin-top: 0.34rem;
    margin-right: 0.17rem;
    vertical-align: baseline;
}
.lggselect .md .boradflight .right  .line .right_sub{
    float: right;
    position: relative;
    margin-left: .3rem;
}
.lggselect .down{
    height: 1.12rem;

    line-height: 1.12rem;
    text-align: center;
    border-top: 1px solid #ccc;
}
.lggch .title{
    height: 0.52rem;
    line-height: 0.52rem;
    color: white;
    background-color: rgb(1, 121, 197);
    text-align: center;
    font-family: Microsoft YaHei;
}
.lggch .title .icon-left{
    float: left;
    height: 0.51rem;
}
.lggch .title .icon-phone{
    float: right;
    height: 0.51rem;
}

.routedetail .lg-router-group{
    height: 2.35rem;
}
.routedetail .lg-router-group .lg-router-up{
    height: 1.6rem;
    background-color: #F8F8F8;
    position: relative;
    background-image: url("../images/icon-bk.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 1.55rem;
}
.routedetail .lg-router-group .lg-router-down{
    height: 0.75rem;
    background-color: #EEEEEE;
    border-top: 1px solid #EEEEEE;
    line-height: 0.75rem;
	font-size: 0.20rem;
	padding-left: 0.4rem;
}
.routedetail .lg-router-group .lg-router-up .lg-first-line{
    height: 0.53rem;
    padding-top: 0.21rem;
    padding-left: 0.14rem;
    font-family: Microsoft YaHei;
    font-size: 0.24rem;
    margin-bottom: 0.1rem;
}
.routedetail .lg-router-group .lg-router-up .lg-first-line .go{
    width: 0.68rem;
    height: 0.35rem;
    float: left;
    color: white;
    border-radius: 5px;
    background-color: #0179C5;
    text-align: center;
    line-height: 0.30rem;
}
.routedetail .lg-router-group .lg-router-up .lg-first-line .return{
    width: 0.68rem;    height: 0.32rem;    float: left;    color: white;    border-radius: 5px;    background-color: #0179C5;    text-align: center;    line-height: 0.30rem;
}
.routedetail .lg-router-group .lg-router-up .lg-second-line{
    height: 0.77rem;
    line-height: 0.45rem;
    float: right;
    text-align: right;
}
.routedetail .lg-router-group .lg-router-up .lg-second-line .money-icon{
    font-size: 0.24rem;
    font-family: Microsoft YaHei;
    color: red;
}
.routedetail .lg-router-group .lg-router-up .lg-second-line .money{
    font-size: 0.32rem;
    font-family: Arial;
    color: red;
}
.routedetail .lg-router-group .lg-router-up .lg-second-line .tip {
    font-size: 0.24rem;
    font-family: Microsoft YaHei;
    color: #999999;
}
.routedetail .lg-router-group .lg-router-up .lg-first-line .logo{
    margin-left: 0.46rem;
    height: 0.26rem;
    vertical-align: baseline;
    margin-right: 0.1rem;
}
.routedetail .lg-router-group .lg-router-up .lg-first-line .flightnum{
    margin-right: 0.35rem;
}
.routedetail .lg-router-group .lg-router-up .lg-first-line .week{
    margin: 0 0.1rem;
}
.routedetail .lg-router-group .lg-router-down .luggage{

    font-size: 0.24rem;
    font-family: Microsoft YaHei;
}
.routedetail .lg-router-group .lg-router-down .limtweight{
    margin-right: 0.4rem;
    font-size: 0.32rem;
    font-family: Arial;
    color:red;
}
.routedetail .lg-router-group .lg-router-down .totalluggage{
    font-size: 0.24rem;
    font-family: Microsoft YaHei;
   
}
.routedetail .lg-router-group .lg-router-down .totalweight{
    font-size: 0.32rem;    font-family: Arial;color:red;
}
.icon-up{
    width: 0px;
    height: 0px;
    border-width: 0 0.16rem  0.16rem;
    position: absolute;
    border-color: #EEEEEE transparent;
    border-style: solid;
    overflow: hidden;
    bottom: -1px;
    right: 50%;
}
.u-select{
    display: inline-block;
    zoom: 1;
    color: #666;
    white-space: nowrap;
    position: relative;
    width: 3.7rem;
    cursor: default;
    border-radius: 2px;
    height: auto;
    background: #fff;
    border: 1px solid #ccc;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
    font-family: 'ו';
}
.u-select-view{
    background: none;
    margin: 0;
    padding: 0;
    display: block;
    height: auto;
    line-height: 0.48rem;
    padding-left: 5px;
    position: relative;
    padding-right: 0.2rem;
    text-overflow: ellipsis;    
    font-size: 0.24rem;    
    font-family: Arial;
}
.u-select-parent{
    position: absolute;
    right: 0;
    top: 0.03rem;
    width: 0.52rem;
    height: 0.46rem;
    background-color: #ccc;
    z-index: 9;
}
.u-select-direct{
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 0.13rem 0.11rem 0;
    border-style: solid;
    _border-style: solid dashed;
    border-color: #999999 transparent;
    position: absolute;
    right: 0.10rem;
    top: 45%;
    margin-top: -0.02rem;
    z-index: 10;
}
.segment-child{
    width: 3.7rem;
}
.lggselect .md .boradflight .right .line .right_sub select{
    display: inline-block;
    zoom: 1;
    color: #999999;
    white-space: nowrap;
    position: relative;
    width: 3.7rem;
    cursor: default;
    border-radius: 2px;
    height: auto;
    border: 1px solid #ccc;
    vertical-align: middle;
    -webkit-user-select: none;
    height: 0.48rem;
    font-size: 0.24rem;
    font-family: Microsoft YaHei;
}
.u-select-list{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    left: -0.01rem;
    top: 0.05rem;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 5px #ccc;
    display: none;
    z-index: 888;
}
.u-select-list-up{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    left: -0.01rem;
    top: -1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 5px #ccc;
    display: none;
    z-index: 888;
}
.u-select-item{
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
    color: #666;
    background: #fff;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 999;
    font-size: 0.24rem;    font-family: Arial;
}
.confirm{
    width: 6.08rem;
    margin-top: 0.3rem;
    font-size: 0.32rem;
    height: 0.75rem;
    font-family: Microsoft YaHei;
    color: white;
    background-color: #11D31B;
    border-radius: 3px;
    border: none;
}
.md-alert{
    
}
.styled-select {
    width: 3.7rem;
    overflow: hidden;
    background: url("../images/icon-arrow.png") no-repeat right #FCF9F9;
    line-height: 0.5rem;
}
.styled-select select {
    background: transparent;
    padding: 0;
    -webkit-appearance: none; /*for chrome*/
}