@charset "gb2312";
body{font:16px/1.5 Tahoma, '微软雅黑', '黑体';color:#000;}
body,table,tr,td,th,dl,dt,dd,form,p,img,ul,li,ol,dl,dd,p {margin:0; padding:0; border:0; text-decoration:none; text-indent:0; list-style:none; text-align:justify; text-justify:inter-ideograph;}
body a:hover { color:#F90; }
ul,ol,li {margin-top:0; margin-bottom:0; list-style-position:outside;}
input{ vertical-align:middle;}
.txt_16cheng { font-size:16px; color:#F90;}
.txt_18hui { font-size:18px; color:#555; }
.txt_chenS { color:#BA7814; }

/*外层绿边框*/
.k4 {padding:1px 1px 2px 1px; height:auto;}
/*.t_jianbian { height:6px; width:100%;  background: #E3F1D8 url(/images/res/bgt.png) 0 0; font-size:0px; }*/

#top_home { width:70%;}
#top_home { width:31px; height:30px; background: url(/images/res/011.gif) 0 0;}
#top_home2 { width:31px; height:24px; background: url(/images/res/15.gif) 0 0;}

#b_li { padding:5px;  color:#58AC13;  font-size:13px; line-height:25px; text-align:center; border-top: 1px solid #FFF; border-bottom: 1px solid #E1E1E1;}
#b_li a{ color:#58AC13; text-decoration: none; }
#b_li a:hover{ color:#F90; text-decoration: none; }

.an_01 { height:30px; line-height:30px; text-align:center; color:#9D5208; background: #FC6 url(/images/res/11.gif) 0 0; margin:2px;  border: 1px solid #F3CB2C;  cursor: pointer;}
.an100 { height:20px; line-height:20px; color:#9D5208; background: #F0F5D3 url(/images/res/11.gif) 0 0; margin:2px; border: 1px solid #F3CB2C; cursor: pointer; text-decoration: none; float:left;}

.bottom { color:#ACD78B; text-align:center; padding:10px 0 0 0;}

#cPage{color:#58AC13;font-size:17px;}
a#oPage:link{color:#000;;font-size:14px;}
a#oPage:visited{color:#000;;font-size:14px;}
a#oPage:hover{color:#F90;;font-size:14px;}
a#cPage:link{color:#58AC13;font-size:14px;}
a#cPage:visited{color:#58AC13;font-size:14px;}
a#cPage:hover{color:#58AC13;font-size:14px;}
.title1 { font-size:14px; color:#F90;font-weight: bold;}
.title_a a{color: #444; text-decoration: none;}
.textSelected{color:#006600;font-weight:bold}
a#a1{ color:#58AC13; text-decoration: none; }
a#a1:hover{ color:#F90; text-decoration: none; }
.retinfo { font-size:14px; color:#F90;font-weight: bold;text-align:center;}
/*以上是共用样式，在多处都有使用*/
.BreadcrumbNavigation { height:25px; padding:2px 2px 0 2px; background-color:#FFF; border: 1px solid #FFF; }
.BreadcrumbNavigation ul {height:25px; background-color:#B9DD95; overflow:hidden;}
.BreadcrumbNavigation li { width:19.3%; height:25px; line-height:25px; float:left;  color:#FFF;  background: url(/images/res/mokuai5.gif) no-repeat right 0;}
.BreadcrumbNavigation_4 li { width:24.5%; height:25px; line-height:25px; float:left; color:#FFF;  background: url(/images/res/mokuai5.gif) no-repeat right 0; text-align:center;}
.BreadcrumbNavigation li font { font-style: italic; font-family: Arial; font-size: 20px; }
.BreadcrumbNavigation .B_li { background: #007ABA url(/images/res/mokuai3.gif) no-repeat right 0;}
.BreadcrumbNavigation .B_li2 { background: #007ABA url(/images/res/mokuai2.gif) no-repeat right 0;}

.BreadcrumbNavigation .bg {height:25px; background-color:#B9DD95; overflow:hidden;}
.BreadcrumbNavigation font { width:19.3%; height:25px; line-height:25px;  color:#FFF; float:left;  background: url(/images/res/mokuai5.gif) no-repeat right 0;}
.BreadcrumbNavigation_4 font{ width:auto; height:auto; background:none; color:#FFFFFF; line-height: 25px;text-align: center;float:none;}
.BreadcrumbNavigation p font  { font-style: italic; font-family: Arial; font-size: 20px; }

.mokuai { height:auto;  padding:1px; }
.mokuai dt {color:#BA7814; padding:3px; background-color:#F9E5BE; }
.mokuai dd {width:100%; height: auto; margin:6px 0 5px 1%;}
/*.mokuai:hover{ border: 1px solid #F90;}*/

.table td { height:24px; border: 0px solid #E1E1E1; border-bottom-width: 1px;}
/*.table td:hover { background-color:#FFC; }*/
.table font { width:25%; height:24px; line-height:24px; float:left; display: block; font-size:12px; }
.table .HB_td { height:22px; padding:0;}
.table .HB_td div { height:20px; line-height:22px; padding:6px 0 6px 10px; background-color:#007ABA; border: 1px solid #fff; border-bottom-width: 0px;color: #ffffff;}

.table dt {clear:left; margin-right:4px;}
.table dt { height:24px; border: 0px solid #E1E1E1; border-bottom-width: 1px;}
.table dd { clear:left; border-bottom-width: 1px; border-top-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-color: #FFF; border-bottom-color: #E6E6E6; }
.table font { width:25%; height:24px; line-height:24px; float:left; display: block; font-size:12px; }
.table .HB_td { height:22px; padding:0;}
.table .HB_td div { height:20px; line-height:22px; padding:6px 0 6px 10px; background-color:#007ABA; border: 1px solid #fff; border-bottom-width: 0px;color: #ffffff;}

.jp99 a{ color: #BA7814; text-decoration: none; }
.jp99 td { padding:8px; text-align:center; color:#BA7814;}
.jp99 .jp99_tdA { border: 1px solid #F3CD92; border-bottom-width: 0px; border-left-width: 0px; font-weight: bold;}
.jp99 .jp99_tdB { border: 0px solid #F3CD92; border-bottom-width: 1px; border-right-width: 1px; background-color:#F9E5BE; }

.jp99_ul { float:left; width:48%;}
.jp99_ul a{ color: #444; text-decoration: none; }
.jp99_ul li {  border-bottom: 1px solid #F9E5BE; padding-top:8px; padding-bottom:8px;}
.jp99_p p { text-indent: 2em; padding:10px; }
.jp99_p h4 { text-align:center; margin:0; }


.xuan_zuo a {width:40px; height:40px; border-width:1px; border-style:solid; text-align:center; line-height:20px; margin:2px; margin-top:-4px; display: block; float:left;}
.xuan_zuo .VIP{ background-color:#5AAC16; border-color:#006600; color:#FF0;display: block;}
.xuan_zuo .HY{ background-color:#FF9900; border-color:#FF6600;display: block;}
.xuan_zuo .PT{ background-color:#F9E5BE; border-color:#F3CD92;display: block;}
.xuan_zuo .YX{ background-color:#FF0; border-color:#F00;display: block;}
.xuan_zuo .BKX{ background-color:#EEEEEE; border-color:#D6D6D6; color:#D6D6D6;display: block;}

.xuan_zuo td { height:30px; text-align:center;}
.xuan_zuo td a { text-decoration: none; margin-top:0px; margin-left:45%; _margin-left:0;}



.xuanzehangban li:active {background-color:#F4BB7C;}
/*  */
.div_wrap{
	width: 99%;
}
.div_fill{
	width: 99%;	
}
.margin_top5{margin-top: 5px;}
.margin_top10{margin-top: 10px;}
.margin_bottom5{margin-bottom: 5px;}
.margin_bottom10{margin-bottom: 10px;}
.padding_left5{padding-left: 5px;}
/*大按钮
.btn_fill{width: 99%;padding: 6px 0 6px 0;}*/
.btn_fill{width: 100%;margin:2px 0 2px 0;padding: 5px 0 5px 0;background:url(/images/res/btn_bg.png);  height:40px; line-height:40px; padding:0 10%; border-left:0;border-right:0; border-top: 1px solid #FFF; border-bottom: 1px solid #E1E1E1; cursor: pointer;color: #FFFFFF;font-size: 14px;font-weight: bold;letter-spacing: 3px;}
.btn_fill:active { background: url(/images/res/btn_bg_press.png);}
.btn_fill:hover { background-color:#FFF;}

.btn_little{margin:2px 0 2px 0;padding: 5px 0 5px 0;background:#ECECEC; border-left:0;border-right:0; border-top: 1px solid #FFF; border-bottom: 1px solid #E1E1E1; cursor: pointer;color: #666666;font-size: 14px;font-weight: bold;letter-spacing: 3px;}
.btn_little:active { background:#FDF582;}
.btn_little:hover { background-color:#FDF582;}

.tbl_xuanzuo{width: 100%;}
.paishu{font-size: 13px;font-weight: bold;}
.lieshu{font-size: 13px;font-weight: bold;}

.ul_index {}
#ul_index-1px { border-top-style: none; }
.ul_index li { background:url(/images/res/bc_list.jpg);  height:40px; line-height:40px; padding:0 10%;  border-top: 1px solid #FFF; border-bottom: 1px solid #E1E1E1; cursor: pointer;}
.ul_index li a { text-decoration: none; color:#58AC13;  }
.ul_index li:active { background: url(/images/res/bgt.png) 0 -133px;}
.ul_index li:hover { background-color:#FFF;}
.ul_index li img { float:left; margin:7px 10% 0 0; }
.ul_index li a {float:left; width:95%; text-align:left; font-size:16px; display: block; }
.ul_index li font { color:#58AC13; float: right; width:5%; text-align:right; font-size:18px; font-weight: bold; display: block; }

.ul_index #indexli_01 { width:23px; height:23px;  background: url(/images/res/bg2.gif) 0 0;}
.ul_index #indexli_02 { width:23px; height:23px;  background: url(/images/res/bg2.gif) -22px 0;}
.ul_index #indexli_03 { width:23px; height:23px;  background: url(/images/res/bg2.gif) -44px 0;}
.ul_index #indexli_04 { width:23px; height:23px;  background: url(/images/res/bg2.gif) -66px 0;}
.ul_index #indexli_05 { width:23px; height:23px;  background: url(/images/res/bg2.gif) -89px 0;}
.ul_index #indexli_06 { width:23px; height:23px;  background: url(/images/res/bg2.gif) -111px 0;}
.ul_index #indexli_07 { width:23px; height:23px;  background: url(/images/res/bg2.gif) -133px 0;}
.ul_index #indexli_08 { width:23px; height:23px;  background: url(/images/res/bg2.gif) -155px 0;}
.ul_index #indexli_09 { width:23px; height:23px;  background: url(/images/res/bg2.gif) -176px 0;}

/* 公共组件 */
.page_title ,.page_title_left{background-color: #007ABA;width: 100%;color: #ffffff;text-align: center;padding: 15px 0 15px 0;font-size: 14px;font-weight: bold;}
.page_title_left{text-align: left;padding-left: 10px;}
.div_title{background-color: #007ABA;width: 100%;color: #ffffff;padding: 5px 0 5px 5px;font-size: 14px;font-weight: bold;}
p{font-size: 14px;letter-spacing: 1px;line-height: 20px;}
/* 错误  */
.input_error{background:#FFFFFF url(/images/res/invalid_line.gif) repeat-x scroll center bottom !important; border:1px solid #DD7870 !important;}

.ui-btn-orange{height:48px;line-height:48px;color:#fff;border-radius:5px;border:1px solid #ccc; cursor:pointer;font-size:22px;font-family:'微软雅黑';width:100%;letter-spacing:5px;text-shadow:1px 1px 1px #555;vertical-align:middle;
	background-color:#f25602;
	background-image:-webkit-gradient(linear, center top, center bottom, from(#ff771c), to(#e94a03));
	background-image:-webkit-linear-gradient(#ff771c, #e94a03);
	background-image:-moz-linear-gradient(#ff771c, #e94a03);
	background-image:-o-linear-gradient(#ff771c, #e94a03);
	background-image:-ms-linear-gradient(#ff771c, #e94a03);
	background-image:linear-gradient(#ff771c, #e94a03);
}
.ui-btn-gray{height:48px;line-height:48px;color:#555;border-radius:5px;border:1px solid #ccc; cursor:pointer;font-size:16px;font-family:'微软雅黑';width:100%;letter-spacing:2px;text-shadow:1px 1px 1px #fff;vertical-align:middle;
	background-color:#cfd0d1;
	background-image:-webkit-gradient(linear, center top, center bottom, from(#f7f7f7), to(#cfd0d1));
	background-image:-webkit-linear-gradient(#f7f7f7, #cfd0d1);
	background-image:-moz-linear-gradient(#f7f7f7, #cfd0d1);
	background-image:-o-linear-gradient(#f7f7f7, #cfd0d1);
	background-image:-ms-linear-gradient(#f7f7f7, #cfd0d1);
	background-image:linear-gradient(#f7f7f7, #cfd0d1);
}